.nav-activee{
    border-bottom: 2px solid #39998e;
}

.h-50{
    height: 40px!important;
    padding: 0px!important;
    margin: 0px!important;
}

.h-60{
    height: 50px!important;
}

.p-l-30{
    margin-left: 30px!important;
}